.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--butter);
  z-index: 100;
  font-size: 2rem;
}

.memberWrap {
  margin: 1rem;
}
